body {
  font-family: Helvetica;
}

h1 {
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-image: url("../images/backgroundpattern.jpeg");
}

h2 {
  font-size: 32px;
  font-weight: bold;
  color: white;

}

.brushesHeader {
  background-color: mediumspringgreen;
}

.framesHeader {
  background-color: lightcoral;
}

.paintHeader {
  background-color: skyblue;
}

.price {
  font-weight: bold;
  color: blue;
}
